$main: #252529;
$secondary: #8b8b9f;
$highlight: #73e298;
$white: #ffffff;

* .clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

.page_loader {
  text-align: center;
}

#banner {
  background: linear-gradient(
      to bottom,
      rgba(58, 58, 58, 0.05),
      rgba(0, 0, 0, 1)
    ),
    url("https://www.wallpaperup.com/uploads/wallpapers/2014/02/13/253404/0b9e7600e7730a2adcedc6e7f2f30abb-700.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 10rem 0;
  #banner_content_wrapper {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #poster {
    width: 275px;
    position: relative;
    float: left;
    .featured_image {
      width: 100%;
      max-width: 100%;
      border-radius: 0.5em;
      -webkit-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
      -moz-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
      box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
    }
    .play_button {
      position: absolute;
      width: 80px;
      left: 50%;
      top: 50%;
      margin: -40px 0 0 -40px;
    }
  }
  #content {
    float: left;
    width: 500px;
    margin-left: 100px;
    .title {
      display: inline;
      font-size: 1.75em;
      color: $white;
    }
    .ratings {
      display: inline-flex;
      margin-left: 1em;

      i {
        color: $highlight;
        font-size: 1.35em;
        margin: 0 0.15em;
      }
      .activeRating {
        color: #73e298;
        font-size: 1.35em;
        margin: 0 0.15em;
      }
      .inactive {
        color: #c3c3c3;
        font-size: 1.35em;
        margin: 0 0.15em;
      }
    }
    .rating_value {
      color: #fff;
      margin-left: 0.6em;
      letter-spacing: 1px;
    }
    .description {
      color: #bbbebf;
      font-size: 1em;
      line-height: 2;
      margin-top: 1.4em;
    }
    .info {
      color: $white;
      font-size: 0.8em;
      font-weight: 700;
      margin-top: 3em;
      span {
        margin: 0 0.5em;
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  #banner {
    padding: 3.5em 0;
    #poster {
      width: 250px;
      .play_button {
        width: 60px;
        left: 50%;
        top: 50%;
        margin: -30px 0 0 -30px;
      }
    }

    #content {
      margin-left: 50px;
      .title {
        font-size: 1.5em;
      }
      .ratings {
        i {
          font-size: 1em;
        }
      }
      .description {
        font-size: 0.9em;
        line-height: 2;
      }
      .info {
        font-size: 0.7em;
        font-weight: 700;
        margin-top: 2em;
        span {
          margin: 0 0.25em;
        }
      }
    }
  }

  @media only screen and(max-width: 575px) {
    #banner {
      #banner_content_wrapper {
        display: block;
        #poster {
          width: 250px;
          float: none;
          display: block;
          margin: 0 auto;
        }
        #content {
          width: 100%;
          margin: 1em auto 0 auto;
        }
      }
    }
  }
}
