.movie_card_container {
  position: relative;
}

#movies_container {
  margin-top: 3rem;

  & h3 {
    font-size: 2rem;
  }

  & .posters {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
    height: 100%;
  }
}

.button_bookmark {
  position: absolute;
  bottom: 16px;
  left: 24px;
  transform: scale(1);

  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.columnInline:hover + .button_bookmark {
  opacity: 1;
}

.columnInline {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
  height: 360px;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0px 4px 10px rgba(179, 179, 179, 0.3);

    & .cardContent {
      opacity: 1;
    }
  }
}
.row_grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;

  .cardContent {
    position: absolute;
    width: 100%;
    padding: 2rem;
    bottom: 0;
    opacity: 0;
    color: white;
    border-radius: 6px;

    background-image: linear-gradient(
      to bottom,
      rgba(58, 58, 58, 0.05),
      rgba(0, 0, 0, 1)
    );
    transition: all 0.2s ease-in-out;

    & h5 {
      font-size: 1.4rem;
    }

    & p {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .row_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    & .columnInline {
      margin-top: 1rem;
      height: 360px;
    }
  }
}

@media screen and (max-width: 768px) {
  .row_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    & .columnInline {
      margin-top: 1rem;
      height: 260px;
    }
  }
}
