.app_hero {
  background: radial-gradient(#00000060, #00000090), url(../../assets/bg-2.jpg);
  padding: 7rem 2rem;
}

.app_hero_search {
  margin: 0 auto;
  background-color: var(--th-search-bg);
  padding: 4rem;
  border-radius: 0.6rem;
  backdrop-filter: blur(10px);

  & .app_hero_title {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;

    & h2 {
      color: #fff;
    }
  }
}

.footer {
  text-align: center;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .app_hero_search {
    padding: 4rem 1rem;
  }
}

@media screen and (min-width: 1140px) {
  .app_hero {
    padding: 10rem 2rem;
  }
}
